#section0{
    background:url(../img/1.jpg) no-repeat right bottom;
    background-size:100% auto;
}
#section1{
    background:url(../img/2.jpg) no-repeat center top;
    background-size:100% 100%;
}
#section2{
    background:url(../img/3.jpg) no-repeat center top;
    background-size:100% 100%;
}
#section3{
    background:url(../img/4.jpg) no-repeat center center;
    background-size:100% auto;
}
#section4{
    background:url(../img/5.jpg) no-repeat center top;
    background-size:100% 100%;
}
#section5{
    background:url(../img/6.jpg) no-repeat center top;
    background-size:100% 100%;
}
#section6{
    background:url(../img/7.jpg) no-repeat center top;
    background-size:100% 100%;
}

.fp-controlArrow.fp-prev {left:210px;}
html{
    font-size: 20px;
}
i.point{
    display: block;
    width:1rem;
    height:1rem;
    border:1px solid #0a93c7;
    border-radius: 50%;
    background: #fff;
    box-sizing: border-box;
}
i.point b{
    width:.5rem;
    height:.5rem;
    margin: .22rem auto;
    background: #0a93c7;
    display: block;
    border-radius: 50%;
}
.logo{
    width:10rem;
    position: absolute;
    top:1rem;
    left:50%;
    margin-left:-5rem;
}
.logo img{
    width: 100%;
}
h2.slogan{
    font-size: 2rem;
    color:#fff;
    font-weight: 100;
    margin-top:-4rem;
}
.toggle-menu{
    position: fixed;
}
#menu{
    position:fixed;
    top:0;
    left:0;
    z-index: 70;
    width: 200px;
    padding: 0;
    margin:6.5rem 0 0 1.5rem;
}
#menu li{
    width:200px;
    height:3.5rem;
    line-height: 3.5rem;
    font-size: 1rem;
    clear:both;
}
.menu li a{
    border-bottom:1px solid rgba(0,0,0,.3);
    display: block;
    height:3.5rem;
    float: left;
    color: rgba(0, 0, 0, 0.3);;
}
.menu li.active a{
    color:rgba(0,0,0,1);
}
.whitemenu li.active a{
    color:rgba(255,255,255,1);
}
.whitemenu li a{
    border-bottom:1px solid rgba(255,255,255,.5);
    display: block;
    height:3.5rem;
    float: left;
    color: rgba(255, 255, 255, 0.5);;
}
button.login{
    width:10rem;
    height:2.4rem;
    border-radius: 1.3rem;
    border:1px solid #fff;
    background: rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
    color:#fff;
    font-weight: 200;
    position: absolute;
    bottom:20%;
    left:50%;
    margin-left:-5rem;
}
.login-frame{
    width:24rem;
    height:10rem;
    position: absolute;
    bottom:10%;
    left:50%;
    margin-left:-12rem;
    background: rgba(255,255,255,.9);
    border-radius: .3rem;
    display: none;
}
.login-frame .close{
    width:2rem;
    height:2rem;
    right:-1rem;
    top:-1rem;
    background: #0498cd;
    border-radius: 50%;
    display: block;
    position: absolute;
    line-height: 2rem;
    text-align: center;
    color: #fff;
    font-size: 1rem;
}
.login-frame ul{
    margin:0;
    list-style: none;
    padding:1rem 0;
}
.login-frame ul li{
    height:2rem;
    line-height: 2rem;
    width:18rem;
    margin:0 auto;
    text-align: left;
}
.login-frame ul li label{
    display: block;
    width:20%;
    float: left;
    font-size:.5rem;
}
.login-frame ul li input{
    width:80%;
    border:none;
    border-bottom:1px solid #000;
    background: none;
}
.login-frame ul li button.get-info{
    width:70%;
    height:2rem;
    border-radius: 1rem;
    background: #0498cd;
    color:#fff;
    border:none;
    margin:0 auto;
    display: block;
    margin-top:1rem
}
.background{
    width:41.5rem;
    height:13.5rem;
    margin: 0 10% 0 auto;
    border-radius:.5rem;
    box-shadow: 0 0 1rem rgba(0,0,0,.2);
    background: rgba(255, 255, 255, 0.5);
    overflow: hidden;
}
.background:first-child{
    margin-bottom:2rem;
}
.background header.title{
    height:4.3rem;
    background: rgba(5, 152, 206, .54);
    color:#fff;
    font-size: 1.3rem;
    text-align: left;
    display: -webkit-box;
    -webkit-box-align:end;
    box-sizing: border-box;
    padding:.7rem 4.5rem;
    position: relative;
}
.background header.title em{
    display: block;
    position: absolute;
    background: rgba(255,255,255,.3);
    border-radius: 50%;
    top:.7rem;left:3.4rem;
}
.background header.title em b{
    position: absolute;
    width:.2rem;height:.2rem;
    background: rgba(255, 255, 255, 0.5);;
    left:60%;
    top:30%;
    border-radius: 50%;
}
.background header.title .cycle-1{
    width: 1.2rem;
    height:1.2rem;
}
.background header.title .cycle-2{
    width:1rem;height:1rem;
    top:1.3rem;left:2.2rem;
}
.background header.title .cycle-2 b{width:.15rem;height:.15rem}
.background header.title .cycle-3{
    width:.6rem;height:.6rem;
    top:2.5rem;left:2rem;
}
.background header.title .cycle-3 b{width:.1rem;height:.1rem}
.background header.title .cycle-4{
    width:.4rem;height:.4rem;
    top:3.2rem;left:2.7rem;
}
.background header.title .cycle-5{
    width:.2rem;height:.2rem;
    top:3.5rem;left:3.4rem;
}
.background section.content{
    padding:1.5rem;
    line-height: 1.6;
    text-align: left;
    color: #333;
}
.learnings{
    min-width: 1280px;
    height:21.5rem;
    padding-bottom:7rem;
}
.learnings h3.learnings-title{
    width:35rem;
    font-size: 1.5rem;
    margin:0 auto;
    margin-bottom:4rem;
}
.learnings dl{
    display: -webkit-box;
    -webkit-box-align:start;
    -webkit-box-pack:center;
    margin-bottom:2.5rem;
}

.learnings dl dt{
    width:50%;
    font-size: 1.4rem;
    text-align: right;
    font-size: #333;
    box-sizing: border-box;
    padding-right:1rem;
    position: relative;
}
.learnings dl dt i{
    right:-.5rem;
    top:.25rem;
    position: absolute;
}
.learnings dl dd{
    width:50%;
    font-size: 1.2rem;
    text-align: left;
    color:#fff;
    padding-left:1rem;
    box-sizing: border-box;
}
.learnings dl:nth-child(2) dt{
    width:46%;
}
.learnings dl:nth-child(3) dt{
    width:38%;
}
.learnings dl:nth-child(4) dt{
    width:32.5%;
}
.learnings dl:nth-child(5) dt{
    width:32.5%;
}

h3.takeaways-title{
    width:44.5rem;
    font-size: 1.2rem;
    margin-bottom:2rem;
    float: right;
    margin-right:7%;
    color: #333;
}
.takeaways{
    width:44.5rem;
    height:27.7rem;
    float: right;
    margin-right:7%;
    background: rgba(0, 0, 0, 0.5);
    padding:2rem 1.5rem;
    box-sizing: border-box;
}
.takeaways dl{
    text-align: left;
    margin-bottom:.5rem;
}
.takeaways dl dt{
    color:#fff;
    font-size: .9rem;
    margin-bottom:.1rem;
}
.takeaways dl dt i{
    float: left;
    margin-right:1rem;
}
.takeaways dl dt span{
    overflow: hidden;
    display: block;
}
.takeaways dl dd{
    font-size: .7rem;
    line-height: 1.4;
    padding-left:2rem;
    color:rgba(255,255,255,.3)
}
h3.team-title{
    width:39rem;
    font-size: 1.2rem;
    color:#333;
    margin:0 auto;
    color:#8c8a8b;
    margin-bottom:2rem;
}
.team{
    width:45rem;
    margin:0 auto;
    display: -webkit-box;
    -webkit-box-align:center;
    -webkit-box-pack:center;
}
.team ul{
    width:33.3333%;
    height:10rem;
    display: -webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -webkit-box-orient:vertical;
}
.team ul li.photo{
    width:5rem;
    height:5rem;
    border-radius: 50%;
    display: block;
    margin-bottom:.5rem;
    overflow: hidden;
}
.team ul li.photo img{
    width:5rem;
}
.team ul li.name{
    font-size: 1rem;
    margin-bottom:.5rem;
}
.team ul li.exp{
    font-size:.7rem;
}
.team .letter{
    font-size: .5rem;
    cursor: pointer;
}
.team .letter img{
    width:5rem;
    margin-bottom:.5rem;
}
#letter-paper{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    font-size: .45rem;
    text-align: left;
    padding:4rem 6.5rem 0 16rem;
    box-sizing: border-box;
    background: url(../img/letterpaper.jpg) no-repeat left top;
    background-size: 100% 100%;
    display: none;
    opacity: .9;
}
#letter-paper h4{
    font-size: 1rem;
    margin-bottom:1rem;
}
#letter-paper p{
    color: #000;
}
#letter-paper section{
    padding-top:1rem;
}
#letter-paper section p{
    margin-bottom:1rem;
}
#letter-paper #close-paper{
    font-family: "helvetica neue",sans-serif;;
    position: absolute;
    width:4rem;
    height:4rem;
    right:2rem;
    top:2rem;
    font-size: 4rem;
    color: #000;
    font-weight: 100;
    cursor: pointer;
}
.partenrs{
    padding-bottom:10%;
    padding-left:10%;
}
.partenrs img{
    height:3rem;
    margin:0 2rem 2rem 0;
}
.footer{
    width: 100%;
    position: absolute;
    bottom:5%;
    font-size: .7rem;
    color:#fff;
    text-align: left;
    padding: 0 1.5rem;
    box-sizing: border-box;
}
.footer span{
    float: right;
    margin-left:2rem;
}
.footer span a{color: #fff;}

.slide{
    height:100%;
    overflow: hidden;
    position: relative;
}
#section2 img{width:100%;height:auto;margin: 0;opacity: 0.5}
.slide .foot{
    width: 100%;
    position: absolute;
    top:80%;
    text-align: center;
    box-sizing: 100%;
    padding-left:5%;
    font-size: 1.3rem;
    font-weight: bold;
    z-index: 100000;
    color: #333;
}
